.faqWrap{
    padding: 5rem;
    background-color: #0A2533;
}

.faqTitle{
    display: flex;
    justify-content: center;
    
    padding-bottom: 3rem;
    font-size: 3rem;
    color: white;
}

@media (max-width: 768px){
    .faqTitle{
        width: 100%;
        padding: 1rem 0rem;
    }
}