.faqWrap{
    padding: 2rem;
    background-color: #0A2533;
}

.faqTitle{
    margin: 0 auto;
    width: 60%;
    padding: 3rem 0rem;
    font-size: 3rem;
    color: white;
}

@media (max-width: 768px){
    .faqTitle{
        width: 100%;
        padding: 1rem 0rem;
    }
}