
.logoWrap{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40vw;

    display: grid;
    grid-template-areas: "logo text";
    grid-template-columns: 30% 70%;
    flex-direction: row;

    max-height: 350px;
    z-index: 1;

}

.logoImageWrap{
    grid-area: logo;
    max-width: 350px;
    min-width: 60px;
}

.heroTitle{
    grid-area: text;
    display: flex;
    align-items: center;

    color: white;
    font-size: 0.5rem;
    text-align: center;
    max-width: 25ch;
    letter-spacing: 3px;
    text-transform: uppercase;
    
}

@media (max-width: 1024px) {

    .logoWrap{    
    }
    .heroTitle{
        
        
    }
}

@media (max-width: 600px) {

    .logoWrap{
         
    }
    .heroTitle{
        
        
    }
}