/*  mobile first */

.separadorWrap{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 6rem;

    background-color: #0A2533;
    background-repeat: no-repeat;
    background-position: 57% 35%;

    font-size: 1.5rem;
    padding: 1rem;
    color: white;
    text-align: center;
}

@media (min-width: 768px) {

    .separadorWrap{
        height: 8rem;
        font-size: 2rem;
        justify-content: center;
        
    }


}