.serviciosWrap{
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) ,url(../../public/images/serviciosProfesionales.webp);

    height: 30rem; 
    background-position: top;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center; 
}

.serviciosContent{
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 1rem;
    color: white;
    text-align: center;
}

.serviciosTitle{
    font-size: 2rem;
}

.serviciosLinks{    
    font-size: 1rem;
    font-family: Lato;
}

.serviciosParrafo{
    font-family: Lato, Arial, Hel;
    padding: 0.5rem 0rem;
    min-width: 20ch;
    max-width: 40ch;
}

.serviciosButton{
    font-family: Anton;
    font-size: 1.3rem;
    text-transform: uppercase;
    margin-top: 1.5rem;
    padding: 0.5rem 1.5rem;
    background: transparent;
    border: 2px solid white;
    border-radius: 0rem;
    
    transition: all 400ms ease-in-out;
}

.serviciosButton:hover{
    color: #0A2533;
    background: white;
    box-shadow: 0 5px 12px 0 #0A2533; 
}



@media (min-width: 768px) {
    .serviciosWrap{
        justify-content: flex-start;
    }

    .serviciosContent{
        align-items: flex-start;
        padding-left: 10rem;
    }

    .serviciosTitle{
        font-size: 3rem;
    }

    .serviciosLinks{
        font-size: 1.5rem;
    }

    .serviciosParrafo{
        font-size: 1.5rem;
        text-align: left;
        justify-content: flex-start;
    }
}