.timetableWrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 0 auto;
    padding: 0 1rem;
    padding-bottom: 3rem;
    font-size: 1.2rem;
}

.timetableWrap strong{
    text-transform: uppercase;
    margin-right: 1rem;
}

.timetableDay{
    padding: 0.7rem 0;
}

.contactIntro{
    text-align: center;
    font-size: 1.2rem;
    padding: 2rem 1rem;
    width: 55ch;
    margin: 0 auto;
}

.strongP{
    padding-bottom: 1rem;
}

@media (max-width: 768px) {
    .contactIntro{
        width: 100%;
    }

    .timetableWrap{
        font-size: 1rem;
        padding: 2rem 0.5rem;
    }


}