.timetableWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 0 auto;
  margin-bottom: 3rem;
  font-size: 1.2rem;
  width: 40rem;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}

.scheduleWrap {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 80%;

  font-size: 1.2rem;
  padding: 2rem 0.5rem;
}

.scheduleWrap div {
  padding: 1rem 0rem;
}

.timetableWrap strong {
  text-transform: uppercase;
  margin-right: 1rem;
}

.timetableWrap h3 {
  font-family: "Anton";
  text-transform: uppercase;
  padding: 1rem;
  background: #144964;
  color: white;
  width: 100%;
  text-align: center;
}

.timetableDay {
  display: flex;
  justify-content: center;
  color: #0a2533;
  font-weight: 500;
  text-transform: uppercase;
}

.timetableHour {
  min-width: 15rem;
  display: flex;
  justify-content: center;
}

.contactIntro {
  text-align: center;
  font-size: 1.2rem;
  padding: 2rem 1rem;

  margin: 0 auto;
}

.strongP {
  padding-bottom: 1rem;
}

@media (max-width: 768px) {
  .timetableWrap {
    width: 100%;
    margin-bottom: 1rem;
  }

  .timetableWrap h3 {
    margin: 0 auto;
    width: 100%;
    background: #144964;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
  }
  .contactIntro {
    width: 100%;
  }

  .scheduleWrap {
    width: 100%;
    padding: 0rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
    grid-template-columns: 1fr;
    font-size: 1.2rem;
  }

  .scheduleWrap div {
    padding: 0.5rem;
  }

  .timetableDay,
  .timetableHour {
    display: flex;
    justify-content: center;
  }
}
