.serviciosWrap{
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) ,url(../../public/images/serviciosDeportivos.webp); 
    height: 30rem; 
    background-position: top;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center; 
}

.serviciosContent{
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 1rem;
    color: white;
    text-align: center;
}

.serviciosTitle{
    font-size: 2rem;
}

.serviciosLinks{
    font-size: 1rem;
    font-family: Lato;
}

.serviciosLink{    
    position: relative;
    font-size: 1rem;
    font-family: Lato;
}

/* UNDERLINE EFFECT */

.serviciosLink:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #FFF;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}
.serviciosLink:hover:after{ 
    width: 100%; 
    left: 0; 
}





.serviciosParrafo{
    font-family: Lato, Arial, Hel;
    padding: 0.5rem;
    min-width: 20ch;
    max-width: 40ch;
}

.serviciosButton{
    font-family: Lato, Arial, Hel;
    margin-top: 0.5rem;
    padding: 0.5rem;
    background: transparent;
    border: 1px solid white;
    border-radius: 1rem;
}


@media (min-width: 768px) {
    .serviciosWrap{
        justify-content: flex-end;
    }

    .serviciosContent{
        align-items: flex-end;
        padding-right: 10rem;
    }

    .serviciosTitle{
        font-size: 3rem;
    }
    .serviciosLinks{
        font-size: 1.5rem;
    }

    .serviciosLink{
        font-size: 1.5rem;
    }

    .serviciosParrafo{
        font-size: 1.5rem;
        text-align: right;
        justify-content: flex-end;
    }

    .serviciosButton{
        margin-top: 3rem;
        font-size: 1rem;
    }
}