.profileCardWrap{
    padding: 2rem 2rem 0rem 2rem;
}

.cardTitle{
    color: #0A2533;
    margin-top: 1.5rem;
}

.cardText{
    margin-top: 1.5rem;
}

.cardSocial{
    font-family: "Anton";
    margin-top: 1.5rem;
    color: #26627F;
    transition: all 0.3s ease-in-out;
}

.cardSocial:hover{
    color: #0A2533;
}


