.profileCardWrap{
    padding: 2rem 2rem 0rem 2rem;
    grid-template-areas: "foto"
    "text";
    grid-template-rows: 60% 40%;
}

.imageWrap{
    grid-area: foto;
    height: 30rem;
}


@media (min-width: 768px) {
    

    .profileCardWrap{
        grid-template-rows: 70% 30%;
    }
}

.textWrap {
    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: justify; 

}

.cardTitle{
    color: #0A2533;
    font-size: 2rem;
    margin-top: 1rem;
}

.cardText{
    margin-top: 1.5rem;
    font-weight: 400;
}

.cardSocial{
    font-family: "Anton";
    margin-top: 1.5rem;
    color: #26627F;
    font-size: 1.3rem;
    transition: all 0.3s ease-in-out;
}

.cardSocial:hover{
    color: #0A2533;
}


