.contactIntro{
    text-align: center;
    font-size: 1.2rem;
    padding: 2rem 1rem;
    width: 55ch;
    margin: 0 auto;
}

.strongP{
    padding-bottom: 1rem;
}

@media (max-width: 768px) {
    .contactIntro{
        width: 100%;
    }
}