.tabsWrapper{
    margin: 0 auto;
    width: 50vw;
}

.tabsWrapper p, .zonasDesc{
    display: flex;
    justify-content:center;
    align-items:center;
    margin: 0 auto;


    font-family: 'Lato', sans-serif;
    padding: 2rem;
    text-align: center;
    font-weight: 400;
    font-size: 1.2rem;
}

@media (max-width: 768px) {
    .tabsWrapper{
        width: 100%;
        padding: 1rem;
    }

    .tabsWrapper p, .zonasDesc{
        padding: 1rem;
        font-size: 1rem;
        padding-bottom: 0;
        
    }
    
}