
.nav{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    background: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 99;
}

.navLinkWrap{
    transition: all 0.3s ease-in-out;
    /* text-shadow: 1px 1px 1px #000000; */
    
}

.navLinkWrap:hover{
    transform: scale(1.2);
}

@media (max-width: 768px) {
    .nav{
    display: none;
    }
}

.nav__content{
    padding: 3rem;
    display: flex;
    color: white;
    margin: 0 3rem;
}

.navLink{
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    
    font-size: 1.2rem;
    text-transform: uppercase;
    padding: 0rem 2rem;
    transition: all 300ms ease-in-out;
}




