.tabButtons{
    display: flex;
    justify-content: center;
    
    padding: 1rem;
    
}

.tabButton{
    font-family: 'Anton';
    text-transform: uppercase;
    font-size: 1.1rem;
    padding: 1rem;
    border: none;
    background: none;
    cursor: pointer;

    transition: all 0.3s ease-in-out;
    color:rgba(0,0,0,.4);
    
}

.active {
    color: #0A2533;

    border-bottom: 2px solid #0A2533;
    border-bottom-width: 50%;
    
}

@media (max-width: 768px){
    .tabButtons{
        flex-direction: row;
        flex-wrap: wrap;
        
        
        padding: 0rem;
        padding-bottom: 1rem;
        
    }
    .tabButton{
        font-size: 1rem;
        padding: 1rem 0rem;
        margin: 0rem 0.6rem;
       
        
        
    }
}

